.con{
    border: 1px solid black;
    max-width:800px;
    min-height: 800px;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    /* grid-template-columns: repeat(3,100px); */
    /* grid-template-columns: repeat(2,100px) 140px 100px; */
        /* grid-template-columns: 200px 200px auto; */
    /* grid-template-columns:repeat(4,1fr); */
    justify-content: center;

    column-gap: 50px;
    row-gap: 0px;
    align-items: center;
}
.box{
    border: 1px solid red;
}